#alert {
    position: fixed;
    top: 80px;
    left: 80px;
    width: calc(100vw - 160px);
    z-index: 9999999;
}

#map {
    min-height: 80vh;
    max-height: 100vh;
}

body {
    overflow: hidden;
}

@media screen and (max-width: 991px) {
    body {
        overflow: auto !important;
    }
}

@media (min-width: 992px) {
    #main-container > .row {
        height: 100%;
    }
}

#main-container  {
    max-height: calc(100vh - 56px);
}


.card-container {
    height: 100%;
    overflow-y: auto;
}

path:focus {
    outline: none;
}

.text-labels {
    font-size: 0.8rem;
    font-weight: normal;
    color: #3388ffcc;
    width: 10rem !important;
    margin-top: calc( -1.8rem) !important;
    margin-left: calc( -5rem) !important;
    text-align: center;
    line-height: 1.1rem;
}

.text-labels div span {
    font-size: 0.65rem;
    font-weight: normal;
    color: #3388ff;
    /* border: solid 1px; */
    border-radius: 5px;
    background-color: #3388ff33;
    padding: 0 3px ;
}

.text-labels div.space{
    display: inline-block;
    width: calc(14px + 1rem);
}